form {
    display: block;
    margin: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

form > div > label {
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}
form > div.switch > label {
    padding: 16px 20px 13px;
}

.col-2 { width: 599px }

.col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
    height: 86px;
}

label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
    transition: all linear .3s;
}

.col-submit {
    text-align: center;
    padding: 20px;
}

label > select {
    display: block;
    width: 100%;
    padding: 0;
    color: #555;
    margin: 16px 0 6px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: .4;
    transition: all linear .3s;
}

label > input:focus, label > select:focus {
    opacity: 1;
}
@media(min-width: 550px){

    form > div { display: inline-block; }
    form {width:500px;  margin:auto;}
    .col-submit { display: block; }
    .col-2 { width: 500px; border-bottom: 1px solid #e4e4e4;}
    .col-submit button { width: 20%; margin: 0 auto; }
    .btn-sm {width:40%}
}