.main_container{
    width:61.8%;
    float: left;
    border-radius: 6px;
    margin-left: 1%;
}
.detail_link{
    color: #ffffff;
}
.detail_link:hover{
    color: #f9ffdb;
    cursor:pointer;
}
.modal-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-footer{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.function_box{
    /*padding-top: 1%;*/
    padding-bottom: 1%;
    margin-left: 0.1em;
    margin-right: 0.1em;
    border-radius: 6px;
    background-color: #eff0f2;
    margin-top: 2%;
}
.sub_box{
    border-radius: 6px;
    margin-left: 63.8%;
    width:35.2%;
}
.search_box{
    border-radius: 6px;
    width: 100%;
    color: #384c61;
    background-color: #eff0f2;
}
.result_box{
    border-radius: 6px;
    margin-top: 2%;
    width: 100%;
    color: #384c61;
    background-color: #eff0f2;
}

.main_body{
    border-radius: 6px;
    height: 60px;
    /*overflow-y: auto;*/
}
.main_header{
    background-color: #eff0f2;
    max-height: 85%;
    overflow-y: auto
}
.weekly_schedule_header{
    border-radius: 6px;
    font-size: 0.2em;
    text-align: center;
}
.weekly_schedule_header th{
    font-size: 0.2em;
    text-align: center;
    color: #ffffff;
    background-color: #384c61;
    word-wrap:break-word
}
.weekly_schedule {
    overflow: auto;
    border-radius: 6px;
    background-color: #eff0f2;
    font-size: 0.2em;
    text-align: center;
    word-wrap:break-word
}
.main_container, .table-fit{
    height: 100%;
}
.weekly_schedule th{
    font-size: 0.2em;
    text-align: center;
    color: #ffffff;
    background-color: #384c61;
    word-wrap:break-word
}
.weekly_schedule td{
    font-size: xx-small;
    text-align: center;
    word-wrap:break-word
}
.responsive-font {
    font-size: 1px;
}
.weekly_schedule_line_background{
    background-color: #cce6e1;
}
.weekly_schedule_line_background_hovered{
    background-color: #f1e0b0;
}
.weekly_schedule_line_background_conflict{
    background-color: #f1bdb8;
}
.weekly_schedule_line_background_changed{
    background-color: #f1447e;
}
.sub_main_tag{
     border-radius: 6px;
     padding: 5px;
     margin: 10px;
     background-color: #384c61;
     width: 96%;
     display: inline-block;
 }
.sub_success_tag{
    border-radius: 6px;
    padding: 5px;
    margin: 10px;
    background-color: #36b241;
    width: 96%;
    display: inline-block;
}
.subtag{
    margin: 10px 20px;
    font-size: 0.7em;
}
.info_block{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 10px;
    padding: 3px 0px;
    background-color: #2980b9;
}
.rec_block{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 10px;
    padding: 3px 0px;
    background-color: #16a085;
}
.comment_block{
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 3px;
    background-color: #daffe4;
}
.checkbox_for_add_course{
    /*border-left: 3px solid #eee;*/
}
.checkbox_for_add_course:hover{
   background-color: #3498db;
    cursor:pointer;
    border-radius: 6px;
}
.checkbox_for_add_rec:hover{
    background-color: #1abc9c;
    cursor:pointer;
    border-radius: 6px;
}
.info_block:hover{
    background-color: #3498db;
    cursor:pointer;
}
.rec_block:hover{
    background-color: #1abc9c;
    cursor:pointer;
}
.comment_block:hover{
    background-color: #b2e5c0;
    cursor:pointer;
}
.open{
    color:#FFFFFF;
}
.open:hover{
    cursor:pointer;
    color: #1abc9c;
}
.subtagTable th,td{
    font-size: xx-small;
    text-align: center;
}
.subtagTable th{
    border: 1px solid #ddd;
}
.sublist_main{
  overflow-x: hidden;
  margin-left: 1%;
  color: #ffffff;
  width:98%;
  height:98%;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    -webkit-box-shadow: inset 10px 0 6px #ffffff;
}
::-webkit-scrollbar-thumb:window-inactive {
        background: #ffffff;
}
.Uheader{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 18px;
    color:#FFFFFF;
}
.sub_Uheader{
    margin-left: 1%;
    width:98%;
    /*margin-top: 5px;*/
    /*margin-bottom: 2px;*/
}
.del_course_span{
    color:#eff0f2;
}
.del_course_span:hover{
    color: rgb(56, 76, 97);
    cursor:pointer;
}

.tag_open{
    padding: 2px;
    color:#eff0f2;
}
.tag_open:hover{
    color:#FFFFFF;
    cursor:pointer;
}
.welcome_msg{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100% !important;
}
.tag_ready{
    padding: 2px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    color:#FFFFFF;
}
.tag_ready:hover{
    color:rgb(56, 76, 97);
    cursor:pointer;
}
.hoverable:hover{
    cursor:pointer;
}
.right_nav{
    line-height: 1.042;
    height: 53px;
    font-weight: 700;
    padding: 17px 21px;
    cursor: pointer;
}
.bodyback{    -moz-background-size:100% 100%;
    background-size:100% 200%;
    background-repeat:no-repeat;
}
.right_nav:hover{
    color:#eeeeee;
    background-color: rgb(60, 90, 109);
}
@media screen and (max-device-width: 600px) {
.sub_box {
    margin-left: 5%;
    width: 90%;
}
    .weekly_schedule th{
        font-size: 1px;
    }
    .weekly_schedule{
        font-size: 1px;
    }
    .modal-body {
        font-size: 18px;
    }
    .main_container {
        width: 90%;
        float: initial;
        margin: auto;
    }
    　　}
@media screen and (max-device-height: 900px) {
    body {
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-size: 5px;
        line-height: 1.22222;/*1.722222*/
        color: #34495e;
        background-color: #ffffff;
    }

    　　}

@media(min-width: 850px){
    .bodyback{    -moz-background-size:100% 100%;
        background-size:100% 100%;
        background-repeat:no-repeat;
    }
    .welcome_msg{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 970px !important;
    }
    .sub_success{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 400px !important;
    }
}

@media(min-width: 100px){

    form > div { display: inline-block; }
    form {width:100%;  margin:auto;}
    .col-1-s,.col-2-s, .col-3-s, .col-4-s {border: none; }
    .col-1-s { width: 100% }
    .col-2-s { width: 50% }
    .col-3-s { width: 33%;}
    .col-4-s { width: 25%; }
}
html, body{
    height: 100%;
}